// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline {
  display: inline;
}

.format {
  padding: 10px;
  margin: 10px;
  width: 40px;
  background-color: #0095DF;
  border: 1px solid black;
  color: white;
  size: 30px;
  text-align: center;
}

.form {
  text-align: center;
  size: 100%;
}
